body {
    background-color: #0D1726;
}

.container {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

#display {
    grid-column: 1 / -1;
    background-color: #F1FAEE;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 50px;
}

.button {
    font-size:25px;
    border:1px solid white;
    background-color:#457B9D;
}
[value=zero]{
    grid-column: span 2;
}
[name=clear],[name=plusminus], [name=percent]{
    background-color:#A8DADC;
    color:black;
}
[name=divide],[name=multi],[name=subtract],[name=add],[name=equals]{
    background-color: #E63946;
}
button:active {
    background-color:cadetblue;
}