body {
    background-color: black;
}

#display {
    display:flex;
    flex-direction: column;
    text-align: end;
    width: 250px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    margin: 5px;
    padding:5px;
    flex: 1 0 100%;
    background-color: rgb(165, 165, 165);
    border:1px solid rgb(61, 61, 61);

}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 100%;
    flex-direction: column;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#row1{
    display: flex;
}
#row2{
    display: flex;
}
#row3{
    display: flex;
}
#row4{
    display: flex;
}
#row5{
    display: flex;
}

.button {
    display: flex;
    border:none;
    padding: 16px 32px;
    margin: 1px;
    height:60px;
    width:60px;
    max-width: 60px;
    max-height: 60px;
    background-color: rgb(117, 117, 117);
    color:white;
    align-items: center;
    justify-content: center;
}
[value=zero]{
    padding-right: 65px;
    padding-left: 65px;
    text-align: center;
}
[name=clear],[name=plusminus], [name=percent]{
    background-color:rgb(180, 180, 180);
    color:black;
}
[name=divide],[name=multi],[name=subtract],[name=add],[name=equals]{
    background-color: orange;
}
button:active {
    background-color:cadetblue;
}